name: Create Release

on:
  push:
    tags:
      - 'v*'
jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Retrieve Go version from go.mod
      id: get-go-version
      run: |
        go_version=$(go mod edit -json | jq -r .Go)
        echo "GO_VERSION=${go_version}" >> $GITHUB_ENV
        echo "Go version is $go_version"

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ env.GO_VERSION }}

    - name: Verify Dependencies
      run: go mod verify

    - name: Run Test
      run: |
        go get -d -v ./...
        go test -race -v ./...

    - name: Create GitHub Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false
